# Requirements for developing or testing the code,
# in addition to requirements defined in requirements.txt.
#
pip
wheel
watchdog
flake8
tox
coverage
twine
pytest
pytest-runner
databricks-cli
autopep8