parameters:
- name: environmentName
  type: string
- name: databricksDomain
  type: string
- name: databricksToken
  type: string
- name: localLibPath
  type: string
- name: databricksLibPath
  type: string
- name: databricksClusterId
  type: string

jobs:
- deployment: deploy_libs
  environment: ${{ parameters.environmentName }}
  displayName: 'Deploy libs to Databricks'
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    pythonVersion: 3.8
  strategy:
    runOnce:
      deploy:
        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(pythonVersion)'
            addToPath: true
            architecture: 'x64'
          displayName: 'Use Python Version: $(pythonVersion)'

        - script: |
            python -m pip install --upgrade pip
            pip install databricks-cli
          displayName: 'Setup Agent'
        - script: |
            echo "Uploading libs at ${LIB_PATH} to workspace (${DATABRICKS_LIB_PATH})..."
            databricks fs cp "${LIB_PATH}" "${DATABRICKS_LIB_PATH} --recursive --overwrite
          env:
            DATABRICKS_HOST: ${{ parameters.databricksDomain }}
            DATABRICKS_TOKEN: ${{ parameters.databricksToken }}
            LOCAL_LIB_PATH: ${{ parameters.localLibPath }}
            DATABRICKS_LIB_PATH: ${{ parameters.databricksLibPath }}
          displayName: 'Upload libs'
        - script: |
            echo "Installing libs (${DATABRICKS_LIB_PATH}) on (${CLUSTER_ID})..."
            for file in `databricks fs ls ${DATABRICKS_LIB_PATH} --absolute`
            do
                extension="${file##*.}"
                if [ $extension = "whl" ]
                then
                    databricks libraries install --cluster-id $CLUSTER_ID --whl $file
                fi
            done
          condition: succeeded()
          env:
            DATABRICKS_HOST: ${{ parameters.databricksDomain }}
            DATABRICKS_TOKEN: ${{ parameters.databricksToken }}
            DATABRICKS_LIB_PATH: ${{ parameters.databricksLibsPath }}
            CLUSTER_ID: ${{ parameters.databricksClusterId }}
          displayName: 'Install libs'