# Environments
dest.env
source.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
.python_packages