---
trigger:
  branches:
    include:
      - main
      - release/*
  paths:
    include:
      - single_tech_samples/datafactory/*

pr: none

variables:
  basePath: 'single_tech_samples/datafactory'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: 'publish_artifacts'
    displayName: 'Publish Build Artifacts'
    jobs:
      - job: 'publish_static_artifacts'
        displayName: 'Publish Static Artifacts'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(basePath)/adf/_scripts/deploymentadf.ps1'
              ArtifactName: 'adf_scripts'
            displayName: 'Publish ADF Scripts'
