{
    "name": "Ls_Http_DataSimulator",
    "properties": {
        "annotations": [],
        "type": "HttpServer",
        "typeProperties": {
            "url": "https://<apiBaseUrl>",
            "enableServerCertificateValidation": true,
            "authenticationType": "Anonymous"
        }
    }
}