name: Documentation Lint
on:
  push:
    branches:
    - main
    - single-tech/databricks
  pull_request:
    branches:
    - main
    - single-tech/databricks

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        config-file: '.markdownlinkcheck.json'
        file-extension: '.md'
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker://avtodev/markdown-lint:v1
      with:
        args: '**/*.md'
        config: '.markdownlint.yml'
