name: Yaml Lint
on:
  push:
    branches:
    - main
    - single-tech/databricks
  pull_request:
    branches:
    - main
    - single-tech/databricks

jobs:
  yml-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Run yaml lint
      run: |
        pip install yamllint
        yamllint .github/workflows/*.yml -d "{extends: default, rules: {document-start: disable, line-length: disable, truthy: disable, indentation: {spaces: 2, indent-sequences: false}}}"
